# Movie Analisys

The database used in the analisys was pulled out from [kaggle](https://www.kaggle.com/). It contains movies data from 2000 to 2024. but not all the movies released in this time, only the top 200 (in box office) by each year. The database has 5000 rows and 13 columns, those are:
1. Rank: Movie's rank
2. Release Group: Movie's name
3. \$Worldwide: Worldwide box office
4. \$Domestic: Domestic box office
5. Domestic %: The percentage of the domestic market in worldwide box office 
6. \$Foreign: Foreign box office
7. Foreign %: The percentage of the foreign market in worldwide box office 
8. Year: Year the movie was released
9. Genres: Movie's genre
10. Rating: The average rating from TMDB
11. Vote_Count: Number of votes the movie had
12. Original_Language: Movie's original language
13. Production_Countries: Country (ies) where the movie was filmed

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('enhanced_box_office_data(2000-2024)u.csv')

In [4]:
data.head()

,Rank,Release Group,$Worldwide,$Domestic,Domestic %,$Foreign,Foreign %,Year,Genres,Rating,Vote_Count,Original_Language,Production_Countries
0,1,Mission: Impossible II,546388108.0,215409889.0,39.4,330978219.0,60.6,2000,"Adventure, Action, Thriller",6.126/10,6741.0,en,United States of America
1,2,Gladiator,460583960.0,187705427.0,40.8,272878533.0,59.2,2000,"Action, Drama, Adventure",8.217/10,19032.0,en,"United Kingdom, United States of America"
2,3,Cast Away,429632142.0,233632142.0,54.4,196000000.0,45.6,2000,"Adventure, Drama",7.663/10,11403.0,en,United States of America
3,4,What Women Want,374111707.0,182811707.0,48.9,191300000.0,51.1,2000,"Comedy, Romance",6.45/10,3944.0,en,"United Kingdom, United States of America"
4,5,Dinosaur,349822765.0,137748063.0,39.4,212074702.0,60.6,2000,"Animation, Family, Adventure",6.544/10,2530.0,en,United States of America

In [5]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Rank,5000.0,1.005000e+02,5.774008e+01,1.0,50.75,100.50,1.502500e+02,2.000000e+02
$Worldwide,5000.0,1.192137e+08,2.005243e+08,1666028.0,24662197.25,48446575.00,1.197588e+08,2.799439e+09
$Domestic,5000.0,4.472523e+07,7.727026e+07,0.0,92751.50,17984212.00,5.386847e+07,9.366622e+08
Domestic %,5000.0,3.574062e+01,3.065699e+01,0.0,0.20,37.05,5.780000e+01,1.000000e+02
$Foreign,5000.0,7.448809e+07,1.334932e+08,0.0,13710340.50,30194438.00,7.211578e+07,1.993811e+09
Foreign %,5000.0,6.425664e+01,3.065453e+01,0.0,42.20,62.95,9.980000e+01,1.000000e+02
Year,5000.0,2.012000e+03,7.211824e+00,2000.0,2006.00,2012.00,2.018000e+03,2.024000e+03
Vote_Count,4830.0,2.531586e+03,3.946273e+03,0.0,205.25,1035.50,3.065000e+03,3.675300e+04

In [64]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Rank                  5000 non-null   int64
 1   Release_Group         5000 non-null   object
 2   $Worldwide            5000 non-null   float64
 3   $Domestic             5000 non-null   float64
 4   %Domestic             5000 non-null   float64
 5   $Foreign              5000 non-null   float64
 6   %Foreign              5000 non-null   float64
 7   Year                  5000 non-null   int64
 8   Genres                4822 non-null   object
 9   Rating                4830 non-null   object
 10  Vote_Count            4830 non-null   float64
 11  Original_Language     4830 non-null   object
 12  Production_Countries  4800 non-null   object
dtypes: float64(6), int64(2), object(5)
memory usage: 507.9+ KB

In [51]:
data.columns

Index(['Rank', 'Release Group', '$Worldwide', '$Domestic', 'Domestic %',
       '$Foreign', 'Foreign %', 'Year', 'Genres', 'Rating', 'Vote_Count',
       'Original_Language', 'Production_Countries'],
      dtype='object')

In [54]:
#Standardize columns's name
data = data.rename(columns = {'Release Group' : 'Release_Group',
                       'Domestic %' : '%Domestic',
                       'Foreign %' : '%Foreign'})

In [55]:
#Checking missing values
data.isna().sum()

Rank                      0
Release_Group             0
$Worldwide                0
$Domestic                 0
%Domestic                 0
$Foreign                  0
%Foreign                  0
Year                      0
Genres                  178
Rating                  170
Vote_Count              170
Original_Language       170
Production_Countries    200
dtype: int64

In [56]:
data[data.isna().any(axis=1)]

,Rank,Release_Group,$Worldwide,$Domestic,%Domestic,$Foreign,%Foreign,Year,Genres,Rating,Vote_Count,Original_Language,Production_Countries
38,39,The Exorcist 2000 Director's Cut,112053066.0,39671011.0,35.4,72382055.0,64.6,2000,NaN,NaN,NaN,NaN,NaN
159,160,Widow of St. Pierre,7193889.0,3193889.0,44.4,4000000.0,55.6,2000,NaN,NaN,NaN,NaN,NaN
169,170,The Jungle Book 2000 Re-release,4466472.0,0.0,0.0,4466472.0,100.0,2000,NaN,NaN,NaN,NaN,NaN
191,192,Blood Simple 2000 Re-release,2068701.0,1701855.0,82.3,366846.0,17.7,2000,NaN,NaN,NaN,NaN,NaN
196,197,The Life and Times of Hank Greenberg,1712385.0,1712385.0,100.0,0.0,0.0,2000,Documentary,6.1/10,9.0,en,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4965,166,Ruki vverkh!,9630048.0,0.0,0.0,9630048.0,100.0,2024,NaN,NaN,NaN,NaN,NaN
4966,167,The Chosen: S4 Episodes 4-6,9482744.0,9482744.0,100.0,0.0,0.0,2024,NaN,NaN,NaN,NaN,NaN
4967,168,The Boy with Pink Trousers,9449929.0,0.0,0.0,9449929.0,100.0,2024,NaN,NaN,NaN,NaN,NaN
4970,171,Onegin,9201680.0,0.0,0.0,9201680.0,100.0,2024,Music,0.0/10,0.0,en,NaN
4989,190,The Chosen: S4 Episodes 7-8,7768191.0,7729152.0,99.5,39039.0,0.5,2024,NaN,NaN,NaN,NaN,NaN

In [66]:
#Checking duplicates
data[data.duplicated()]

Empty DataFrame
Columns: [Rank, Release_Group, $Worldwide, $Domestic, %Domestic, $Foreign, %Foreign, Year, Genres, Rating, Vote_Count, Original_Language, Production_Countries]
Index: []

In [71]:
#Checking duplicates for a specific column
data.loc[data.duplicated(subset = ["Release_Group"])]

,Rank,Release_Group,$Worldwide,$Domestic,%Domestic,$Foreign,%Foreign,Year,Genres,Rating,Vote_Count,Original_Language,Production_Countries
763,164,Together,1.468717e+07,1151941.0,7.8,13535226.0,92.2,2003,"Drama, Comedy, Romance",7.027/10,242.0,sv,"Denmark, Italy, Norway, Sweden"
1473,74,Hero,7.608920e+07,0.0,0.0,76089199.0,100.0,2007,Mystery,6.8/10,25.0,ja,Japan
1691,92,The Eye,5.801032e+07,31418697.0,54.2,26591623.0,45.8,2008,"Drama, Horror, Thriller",5.837/10,1031.0,en,"United States of America, Canada"
1707,108,One Missed Call,4.584775e+07,26890041.0,58.7,18957710.0,41.3,2008,"Horror, Mystery, Thriller",5.4/10,752.0,en,"Germany, Japan, United Kingdom, United States ..."
2117,118,Death at a Funeral,4.905089e+07,42739347.0,87.1,6311539.0,12.9,2010,Comedy,5.838/10,972.0,en,United States of America
2197,198,Head Over Heels,1.887608e+07,0.0,0.0,18876082.0,100.0,2010,Comedy,6.5/10,236.0,pt,Brazil
2225,26,The Girl with the Dragon Tattoo,2.326174e+08,102515793.0,44.1,130101637.0,55.9,2011,"Thriller, Crime, Mystery",7.376/10,6974.0,en,"Sweden, United States of America"
2547,148,Bait,3.281341e+07,0.0,0.0,32813407.0,100.0,2012,Horror,5.656/10,743.0,en,"Singapore, Australia"
2705,106,The Host,6.336586e+07,26627201.0,42.0,36738658.0,58.0,2013,"Action, Adventure, Science Fiction",6.289/10,3907.0,en,"Switzerland, United States of America"
2751,152,Hide and Seek,3.546150e+07,0.0,0.0,35461505.0,100.0,2013,"Thriller, Mystery",6.5/10,97.0,ko,South Korea
3043,44,Fantastic Four,1.678829e+08,56117548.0,33.4,111765333.0,66.6,2015,"Action, Adventure, Science Fiction",4.42/10,5984.0,en,"United Kingdom, Germany, United States of America"
3118,119,Miss Granny,5.939631e+07,234573.0,0.4,59161738.0,99.6,2015,"Comedy, Music, Fantasy",6.7/10,45.0,zh,"South Korea, China"
3119,120,The Gift,5.897865e+07,43787265.0,74.2,15191388.0,25.8,2015,"Thriller, Mystery, Drama",6.694/10,3203.0,en,"Australia, United States of America"
3120,121,You Are My Sunshine,5.664000e+07,0.0,0.0,56640000.0,100.0,2015,"Drama, Romance",4.9/10,12.0,zh,China
3143,144,Hero,4.556553e+07,88675.0,0.2,45476859.0,99.8,2015,"Romance, Comedy, Drama, Crime",6.0/10,29.0,ja,Japan
3188,189,Bride Wars,2.767000e+07,0.0,0.0,27670000.0,100.0,2015,"Comedy, Romance",6.2/10,3012.0,en,United States of America
3381,182,Race,2.507026e+07,19206207.0,76.6,5864054.0,23.4,2016,"Drama, History",7.3/10,1524.0,en,"Canada, Germany"
3401,2,Beauty and the Beast,1.263521e+09,504014165.0,39.9,759506961.0,60.1,2017,"Family, Fantasy, Romance",6.971/10,15454.0,en,United States of America
3410,11,Coco,8.146412e+08,210460015.0,25.8,604181157.0,74.2,2017,"Family, Animation, Music, Adventure",8.207/10,19589.0,en,United States of America
3470,71,Forever Young,1.190557e+08,0.0,0.0,119055731.0,100.0,2017,Comedy,5.6/10,149.0,en,Italy
3557,158,Perfect Strangers,3.326237e+07,1014507.0,3.1,32247859.0,96.9,2017,"Comedy, Drama",7.867/10,4375.0,it,Italy
3638,39,Halloween,2.554852e+08,159342015.0,62.4,96143163.0,37.6,2018,"Horror, Thriller",6.6/10,4734.0,en,United States of America
3643,44,The Island,1.983264e+08,670883.0,0.3,197655467.0,99.7,2018,"Action, Thriller",8.0/10,1.0,en,Nigeria
3683,84,Robin Hood,8.648903e+07,30824628.0,35.6,55664403.0,64.4,2018,"Action, Adventure, History",6.391/10,4605.0,en,United States of America
3890,91,Charlie's Angels,7.327989e+07,17803077.0,24.3,55476811.0,75.7,2019,"Action, Adventure, Comedy",6.4/10,2965.0,en,United States of America
3897,98,War,6.717916e+07,4654000.0,6.9,62525155.0,93.1,2019,"Action, Thriller, Adventure",6.765/10,327.0,hi,India
3909,110,Hellboy,5.506469e+07,21903748.0,39.8,33160942.0,60.2,2019,"Fantasy, Horror, Action, Adventure",5.577/10,3438.0,en,"Bulgaria, United States of America"
3910,111,Les Misérables,5.460637e+07,330181.0,0.6,54276191.0,99.4,2019,"Crime, Drama, History, Romance",7.2/10,622.0,en,"Germany, United Kingdom, United States of America"
3919,120,The Grudge,4.951132e+07,21221803.0,42.9,28289516.0,57.1,2019,"Horror, Mystery",5.4/10,1201.0,en,"Canada, United States of America"
3977,178,Pinocchio,2.384109e+07,1831718.0,7.7,22009372.0,92.3,2019,"Drama, Family, Fantasy",6.6/10,1498.0,it,"Belgium, France, Italy, United Kingdom"
3990,191,Shaft,2.136022e+07,21360215.0,100.0,0.0,0.0,2019,"Action, Crime",6.5/10,1709.0,en,United States of America
4047,48,Deliver Us from Evil,3.371870e+07,0.0,0.0,33718703.0,100.0,2020,"Crime, Action, Drama",6.8/10,196.0,ko,South Korea
4081,82,The Way Back,1.549051e+07,13590514.0,87.7,1900000.0,12.3,2020,Drama,6.659/10,1171.0,en,"United States of America, Canada"
4118,119,The Closet,9.189552e+06,0.0,0.0,9189552.0,100.0,2020,"Horror, Thriller",7.3/10,181.0,ko,South Korea
4178,179,Love Aaj Kal,5.120794e+06,0.0,0.0,5120794.0,100.0,2020,"Romance, Drama",5.5/10,38.0,hi,India
4296,97,Master,2.869223e+07,0.0,0.0,28692230.0,100.0,2021,"Action, Drama",6.7/10,161.0,en,China
4489,90,Calendar Girls,2.543362e+07,0.0,0.0,25433615.0,100.0,2022,Documentary,8.2/10,5.0,en,United States of America
4491,92,Hero,2.439249e+07,0.0,0.0,24392492.0,100.0,2022,"Animation, TV Movie, Fantasy, Action",8.092/10,1092.0,fr,"Brazil, Canada, France, South Korea, United Ki..."
4506,107,Monster,2.045387e+07,434585.0,2.1,20019281.0,97.9,2022,"Action, Adventure, Crime",3.6/10,7.0,ml,India
4511,112,Beast,1.891196e+07,0.0,0.0,18911959.0,100.0,2022,"Thriller, Action, Horror",6.604/10,1542.0,en,"Iceland, United States of America"
4578,179,Don,8.287406e+06,0.0,0.0,8287406.0,100.0,2022,"Animation, Adventure, Drama",7.0/10,40.0,ja,Japan
4731,132,Champions,1.915830e+07,16397335.0,85.6,2760967.0,14.4,2023,"Comedy, Drama",6.782/10,376.0,en,United States of America
4744,145,Joy Ride,1.578767e+07,12897789.0,81.7,2889885.0,18.3,2023,Comedy,6.644/10,364.0,en,"Canada, United Kingdom, United States of America"
4788,189,Kandahar,9.387311e+06,4813132.0,51.3,4574179.0,48.7,2023,"Action, Thriller",6.8/10,1035.0,en,"United Arab Emirates, United States of America"
4834,35,Mean Girls,1.047934e+08,72404248.0,69.1,32389183.0,30.9,2024,"Drama, Comedy",7.21/10,8811.0,en,United States of America

In [74]:
#Analysing one of the duplicate Release_Group
data.query('Release_Group == "Hero"')

,Rank,Release_Group,$Worldwide,$Domestic,%Domestic,$Foreign,%Foreign,Year,Genres,Rating,Vote_Count,Original_Language,Production_Countries
427,28,Hero,177395557.0,53710019.0,30.3,123685538.0,69.7,2002,"Drama, Adventure, Action, History",7.498/10,2264.0,zh,"Hong Kong, China"
1473,74,Hero,76089199.0,0.0,0.0,76089199.0,100.0,2007,Mystery,6.8/10,25.0,ja,Japan
3143,144,Hero,45565534.0,88675.0,0.2,45476859.0,99.8,2015,"Romance, Comedy, Drama, Crime",6.0/10,29.0,ja,Japan
4491,92,Hero,24392492.0,0.0,0.0,24392492.0,100.0,2022,"Animation, TV Movie, Fantasy, Action",8.092/10,1092.0,fr,"Brazil, Canada, France, South Korea, United Ki..."

As we can see, there are no duplicated rows, but there are some duplicated 'Release_Group'. Those have the sabe name, but are different movies

# Q & A

In [ ]:
Qual a porcentagem de filmes americanos e estrangeiros para cada ano?

In [91]:
data.groupby('Year')['Production_Countries'].head()

0                       United States of America
1       United Kingdom, United States of America
2                       United States of America
3       United Kingdom, United States of America
4                       United States of America
                          ...
4800                    United States of America
4801                    United States of America
4802                    United States of America
4803            Canada, United States of America
4804                    United States of America
Name: Production_Countries, Length: 125, dtype: object

In [101]:
data[data['Production_Countries'].str.contains("United States of America", na=False)].count()

Rank                    3153
Release_Group           3153
$Worldwide              3153
$Domestic               3153
%Domestic               3153
$Foreign                3153
%Foreign                3153
Year                    3153
Genres                  3152
Rating                  3153
Vote_Count              3153
Original_Language       3153
Production_Countries    3153
dtype: int64

In [108]:
data[data['Production_Countries'].str.contains("United Kingdom", na=False)].count()

Rank                    616
Release_Group           616
$Worldwide              616
$Domestic               616
%Domestic               616
$Foreign                616
%Foreign                616
Year                    616
Genres                  615
Rating                  616
Vote_Count              616
Original_Language       616
Production_Countries    616
dtype: int64

In [112]:
count = 0
for x in data['Production_Countries'].unique():
    print(x)
    count +=1
    
print(count)

United States of America
United Kingdom, United States of America
Germany, United States of America
France, United Kingdom, United States of America
Hong Kong, Taiwan, United States of America
Japan
France, Italy, United States of America
nan
Hong Kong, United States of America
United States of America, Canada
United Kingdom
France
Denmark, Finland, France, Germany, Iceland, Netherlands, Norway, Sweden
Switzerland, United Kingdom, United States of America
Canada, United States of America
Czech Republic, United States of America
Australia, United States of America
Germany, Japan, United Kingdom, United States of America
Germany, Netherlands, United States of America
Canada
France, United Kingdom
Germany, United Kingdom, United States of America
Canada, Switzerland, United States of America
Spain, France
Canada, France, Germany, Japan, United Kingdom, United States of America
Japan, United States of America
Denmark, Sweden
Italy, United States of America
Australia
Hong Kong
Luxembourg, United Kingdom, United States of America
France, United States of America
Germany
Belgium, Italy, Switzerland
France, Germany, Japan, United States of America
Mexico, United States of America
Germany, United Kingdom, France, Ireland
France, Germany, Yugoslavia
United Kingdom, France, Germany, United States of America
India
Bulgaria, France, Russia, Spain
Brazil, United States of America
Germany, Sweden
Iran
China
Netherlands, United States of America, United Kingdom, Belgium
Germany, Italy
New Zealand, United States of America
France, Ireland, United Kingdom, United States of America
Spain, United States of America
United States of America, Spain
France, Germany
France, Germany, Hong Kong, Japan, United States of America
Canada, France, Germany, United States of America
France, Germany, Ireland, United Kingdom, United States of America
United States of America, India
Australia, Canada, Switzerland, United States of America
France, Mexico, Switzerland, United Kingdom, United States of America
Mexico
Germany, Luxembourg, United Kingdom, United States of America
France, Germany, Italy, United States of America, India
Switzerland, United States of America
Ireland, United States of America
Switzerland, Germany, Spain, France, Italy
Germany, Australia
United States of America, Japan, United Kingdom
Hong Kong, Taiwan
Denmark, Italy, Norway, Sweden
Canada, United Kingdom
France, Hong Kong
France, Italy
India, United Kingdom
Japan, France
Spain, United Kingdom, United States of America
Spain, Italy, Portugal
Iran, France
Argentina, Spain
Italy
Italy, Spain
Spain
China, Hong Kong, United States of America
Austria, France
France, Japan
Mexico, Spain
United Kingdom, United States of America, France
Denmark, France, Germany, Ireland, United Kingdom
United Kingdom, United States of America, Germany
Germany, Canada, United States of America
United States of America, Czech Republic
United States of America, Germany, Czech Republic
Germany, Italy, United States of America
Canada, Germany, United States of America
United States of America, Germany, Belgium
Hong Kong, China
France, Germany, Poland, United Kingdom
Germany, Switzerland, United States of America
Australia, Canada, United States of America
Canada, France, Germany, United Kingdom
United States of America, France, United Kingdom
Ireland, United Kingdom, United States of America
Canada, Germany, Russia, United Kingdom, United States of America
Canada, Mexico, United States of America
Germany, United States of America, Brazil
United States of America, France
Brazil, France, Germany
Morocco, United States of America, United Kingdom
Italy, United Kingdom, Spain
France, Spain, United States of America
France, Germany, United Kingdom, United States of America, Vietnam
Germany, Japan, United States of America
South Korea, United States of America
South Korea
France, Germany, United Kingdom
Canada, Germany, Luxembourg, United Kingdom, United States of America
Germany, United States of America, Italy
Netherlands, Germany, United States of America
Switzerland, France
Ireland, United Kingdom
Argentina
Japan, United Kingdom
United States of America, Brazil
United States of America, United Kingdom, Romania, Italy
Germany, Hong Kong, Japan, United Kingdom, United States of America
United States of America, Canada, Germany
United States of America, United Kingdom
Italy, United Kingdom, United States of America
Germany, New Zealand
France, Luxembourg, United Kingdom
Canada, United Kingdom, United States of America
France, Germany, United States of America
France, Hong Kong, Thailand
Germany, United Kingdom
Denmark, Finland, France, Germany, Netherlands, Norway, Sweden, United Kingdom
United Kingdom, Italy, Turkey, Portugal
Austria, Czech Republic, Slovakia
France, Italy, United Kingdom
Belgium, Canada, France, United Kingdom, Latvia, United States of America
Canada, Germany, Japan, United States of America
Canada, India
Canada, France
Greece, Turkey
Canada, Spain
South Korea, Germany
United States of America, Germany
Germany, Russia, United States of America
Ireland, United Kingdom, United States of America, Singapore
Czech Republic, Germany, United Kingdom, United States of America
France, Germany, Netherlands, United Kingdom, United States of America
United States of America, Morocco
Canada, France, Japan, United States of America
Australia, China, Hong Kong, United States of America
Austria, Germany, Italy
France, Germany, Switzerland
Germany, Ireland, United Kingdom, United States of America
Argentina, France, United Kingdom, United States of America
France, Italy, Spain, United States of America
Belgium, Spain
France, United Kingdom, Italy
Czech Republic, Switzerland, United States of America
Italy, South Africa, United Kingdom, United States of America
United Kingdom, United States of America, Croatia
Belgium, France, India, United Kingdom, United States of America
United States of America, Canada, Czech Republic
Italy, Luxembourg, United Kingdom
Finland, Netherlands, United Kingdom, United States of America
Turkey
Netherlands, United States of America
Germany, Hong Kong, China, France, Italy
Hong Kong, South Korea
Denmark, United States of America
Belgium, France, Germany, Spain
Canada, France, Germany, Switzerland
United Kingdom, France
Ecuador, Colombia, United States of America
Italy, Spain, United Kingdom
Germany, Turkey
New Zealand, United States of America, Germany
Germany, Spain, United Kingdom, United States of America
France, Germany, United Kingdom, United States of America
United Kingdom, France, United States of America
Germany, Morocco, Spain, United Kingdom, United States of America
China, Germany, United Kingdom, United States of America
France, United States of America, Germany
France, Japan, United Kingdom, United States of America
China, France, United Kingdom, United States of America
Canada, United States of America, France
Canada, France, United States of America
Czech Republic, France, Italy, United Kingdom
Germany, United States of America, Denmark, Romania
Thailand
Finland, Russia, Ukraine
Russia
New Zealand, Switzerland, Japan, United States of America
Belgium, France, Germany, Romania, United Kingdom
Germany, Mexico, United States of America
Austria, France, Germany, Italy
Brazil
United States of America, Canada, United Kingdom
United Kingdom, United States of America, Hungary
United States of America, Netherlands
France, Mexico, United States of America
Belgium, France, Germany, Spain, United States of America
Japan, South Korea
Mexico, Spain, United States of America
United States of America, Australia
China, Hong Kong, United Kingdom, United States of America
France, Japan, United States of America
Canada, Germany, United Kingdom, United States of America
Germany, United States of America, Canada, Mexico
Russia, United States of America
United States of America, Romania, South Africa
Canada, Romania, United Kingdom, United States of America
Czech Republic, Germany, Ireland, Switzerland, United Kingdom, United States of America
Canada, China, Hong Kong, United States of America
Belgium, Germany, Netherlands, United Kingdom
Algeria, Belgium, France, Morocco
Germany, Ireland, Italy, Spain, United Kingdom
China, Hong Kong
Denmark, France
Netherlands
United States of America, France, Mexico
Hong Kong, India
China, Hong Kong, Japan, Netherlands, South Korea
Belgium, France
France, Germany, Spain, United States of America
Iceland, United Kingdom, United States of America
United States of America, United Kingdom, Australia
Czech Republic, France, United Kingdom
Czech Republic, France, Italy, United Kingdom, United States of America
France, United States of America, United Kingdom
China, United Kingdom, United States of America
China, Hong Kong, Taiwan, United States of America
China, Hong Kong, South Korea
Germany, Kazakhstan, Russia
Bulgaria, France, Italy, Slovakia, Tunisia, United Kingdom, United States of America
China, France, Hong Kong
Denmark, Finland, Norway, United Kingdom, Sweden, Germany
India, Japan, United States of America
Germany, Austria
Hong Kong, India, United States of America
Hungary, Norway, Sweden
China, Germany, United States of America
United States of America, South Africa, New Zealand
Australia, United Kingdom, United States of America
United States of America, United Kingdom, France
Germany, Belgium, Spain, France, Italy
China, Hong Kong, Japan, South Korea, Taiwan, United States of America
Australia, Bahamas, United States of America
Romania, United States of America
Thailand, United States of America
Belgium, United States of America
Germany, United States of America, United Kingdom
Japan, Thailand
China, Hong Kong, Singapore
Canada, France, Italy
Czech Republic, France, Germany
China, Hong Kong, Taiwan
Germany, United Kingdom, United States of America, South Africa
Germany, France
Belgium, Denmark, Finland, France, Germany, Ireland, Norway
Brazil, Canada, Italy, Japan, United Kingdom
New Zealand, South Africa, United States of America
Denmark, Germany, Norway, Sweden
United Kingdom, New Zealand, United States of America
Denmark, Germany, Sweden
Canada, France, United Kingdom
Hong Kong, United Kingdom, United States of America
Belgium, Italy, Romania, France
Hong Kong, Japan, United States of America
Bulgaria, Malta, Spain, United States of America
United Arab Emirates, United States of America
Germany, Italy, Morocco, Spain, United States of America
Australia, China
Greece, United States of America
Czech Republic, France, United Kingdom, United States of America
France, Spain
France, Italy, United Kingdom, United States of America
Bulgaria, United States of America
United States of America, New Zealand
India, United States of America
France, Monaco, Spain, Switzerland, United States of America
Belgium, France, Italy, United States of America
Belgium, France, Germany, United Kingdom, United States of America
Japan, United Kingdom, United States of America
China, India, United Arab Emirates, United States of America
Sweden, United Kingdom, United States of America
United States of America, United Arab Emirates
France, Germany, Hungary
India, United Arab Emirates, United Kingdom, United States of America
China, Taiwan
United States of America, Hong Kong, China
Japan, Netherlands
Sweden, United States of America
India, United Arab Emirates, United States of America
United States of America, United Kingdom, Germany, France
United States of America, Hungary
France, Germany, United Kingdom, Turkey
United States of America, Russia
Sweden
Australia, Mexico, United States of America
Switzerland, United Kingdom, Germany, Canada
France, Germany, Poland, Spain, United States of America
Taiwan
Poland
Canada, Russia, United States of America
Australia, France, Iran
Netherlands, France
India, Taiwan, United Kingdom, United States of America
France, Turkey, United States of America
Canada, India, United States of America
China, Thailand
United Arab Emirates, United Kingdom, United States of America
Canada, Sweden, United Kingdom
France, Hungary, Italy, Spain
Belgium, France, Mexico
Belgium, France, Italy, United Kingdom, United States of America
South Africa, United Kingdom, United States of America, India
South Africa
Singapore, Australia
France, Belgium
Hungary, Serbia, Spain, United States of America
Austria, France, Germany
Belgium, France, Italy, United Kingdom
Denmark, Finland, Germany, Ireland
Denmark, Germany, Norway, Sweden, United Kingdom
United States of America, Canada, France
Japan, United States of America, United Kingdom
United States of America, Mexico
Czech Republic, South Korea
Belgium, France, United Kingdom
South Korea, China
France, South Africa, United Kingdom, United States of America
Australia, France, Switzerland, Thailand, United Kingdom
Australia, Denmark, United States of America
Bulgaria, France, United States of America
Canada, South Korea, United States of America
Canada, Germany, United Kingdom
China, Canada, United States of America, United Kingdom
India, United States of America, United Arab Emirates
Australia, France, United Kingdom
China, France, Hong Kong, India, United States of America
Bulgaria, Italy, Japan
Czech Republic, India, Thailand
Belgium, Germany, United Kingdom, United States of America
Belgium, France, Italy, Switzerland, United States of America
Canada, Hong Kong, Taiwan, United States of America
Canada, United States of America, Australia
China, France, India, United States of America
United Kingdom, Germany, United States of America
India, United States of America, Germany
Canada, Hong Kong, United States of America
Austria, Canada, China, Germany, Italy, United States of America
India, United Kingdom, United States of America
China, France, United States of America
Belgium, China, France
United States of America, China, Hong Kong
Belgium, United Kingdom, United States of America
Canada, Ireland, United Kingdom, United States of America
China, Czech Republic
Germany, Philippines
Belgium, Germany, Switzerland
South Korea, Spain, United Kingdom, United States of America
Norway, Sweden
Chile, Colombia, Spain, United States of America
Taiwan, Hong Kong
China, United States of America
United States of America, Hong Kong
Canada, China, Japan, United States of America
Finland
China, Japan, United States of America
France, United States of America, Thailand
China, United States of America, United Kingdom
Australia, Spain, United States of America
China, South Korea
China, France
Spain, Argentina
China, Hong Kong, Malaysia
Brazil, Canada, United Kingdom, United States of America
Belgium, France, United States of America
Brazil, Morocco
Hong Kong, China, South Korea
India, Ireland, United States of America
United States of America, China
Chile, China, United States of America
Cambodia, Russia
Canada, Germany
China, South Korea, United States of America
Mexico, Taiwan, United States of America
Canada, China, United States of America
China, Hong Kong, Iceland, India, South Korea, United Arab Emirates
France, Germany, United Arab Emirates, United States of America, Belgium, Canada, China
Bulgaria, Canada, France, Hong Kong, Netherlands, United States of America
China, India, United Kingdom, United States of America
Luxembourg, United States of America
Germany, Hungary, Sweden, United States of America
China, Hong Kong, Japan
Austria, India
Dominican Republic, United Kingdom, United States of America
United Kingdom, Poland
Brazil, France, Italy, United States of America
China, Czech Republic, Hong Kong, United States of America
Spain, United Kingdom
Belgium, Germany, France, Romania, United Kingdom
United Kingdom, Germany
Czech Republic, United Kingdom, United States of America
Belgium, Canada, France, United Kingdom
China, Hong Kong, Morocco
Canada, Japan, United States of America
Nigeria
China, Hong Kong, Singapore, Taiwan
China, Colombia, United States of America
France, Lebanon, United Kingdom, United States of America
China, Iceland, United States of America
China, France, Qatar, Spain, Taiwan
India, Malta, Thailand
China, Japan
South Africa, Germany, France
India, Thailand
China, Hong Kong, Italy
India, Spain, United Kingdom, United States of America
Australia, Canada, United Kingdom, United States of America
China, Hungary, Spain, United States of America
China, Hong Kong, United Kingdom
Canada, Denmark, United States of America
Finland, United States of America
Brazil, China, United States of America
Canada, Serbia, United States of America
Canada, China, India, United States of America
Canada, France, Norway, United Kingdom, United States of America
Switzerland
France, Guadaloupe, Russia, Serbia, United States of America
Hong Kong, Japan
Australia, India, Singapore, United States of America, Indonesia
Indonesia
Hong Kong, Ireland, South Korea, United States of America
China, Czech Republic, Hong Kong
China, Hong Kong, India, South Korea, Taiwan, United Kingdom
China, Germany, Japan, United Kingdom
Mexico, United Kingdom, United States of America
Canada, Ireland, United States of America
Australia, Canada, China, United States of America
Denmark, Netherlands, Sweden
Germany, Ireland, Luxembourg
Australia, Belgium
Austria, United States of America
Argentina, United States of America
Belgium, Germany, Spain
Vietnam
Bahamas, Canada, United States of America
Belarus, Germany, Russia
South Africa, United States of America
Germany, Switzerland
Bulgaria, France, Sweden, United States of America
Canada, Hong Kong, Luxembourg, United States of America
Chile, Germany, United Kingdom, United States of America
United Kingdom, China
Austria, Germany
France, United States of America, Bulgaria
Belgium, France, Germany
Denmark, France, Norway, Sweden
Belgium, Canada, France, Spain, United States of America
Peru
South Korea, Thailand
Bulgaria, Romania, United Kingdom, United States of America
Australia, United States of America, United Kingdom
Iceland, United States of America
Canada, China, United Kingdom, United States of America
Estonia
Belgium, Canada, France, Hungary, United Kingdom
France, Hong Kong, Morocco, Taiwan, United States of America
Denmark, France, Germany, Greece, Mexico, Sweden, Switzerland, Turkey, United Kingdom, United States of America
Brazil, Canada, France, South Korea, United Kingdom, United States of America
Belgium, Canada, Germany, United Kingdom
Australia, China, United Kingdom
Estonia, Poland, Netherlands
Australia, China, United States of America
Australia, Spain, United Kingdom, United States of America
United States of America, Japan
Pakistan
Japan, Sweden, United Kingdom
Germany, Italy, Netherlands
Germany, Luxembourg
Ireland, New Zealand, United States of America
India, Italy, Spain, Turkey
Australia, United Kingdom
Poland, United Kingdom, United States of America
Turkey, United Kingdom, United States of America
Germany, Japan
Germany, India, United Kingdom, United States of America
New Zealand, United Kingdom, United States of America
Ukraine
Germany, Romania, Spain
Finland, United Kingdom, United States of America
Belgium, France, Russia, Saudi Arabia, United Kingdom, United States of America
Austria, India, Russia, Turkey
France, Sweden, United Kingdom
Lithuania, Poland, Serbia
France, Senegal
Japan, United Kingdom, France
Slovakia, Spain, United Kingdom, United States of America
Canada, Singapore, United States of America
Australia, Singapore, United States of America, Hungary, United Kingdom
Philippines, Canada
Japan, New Zealand, United States of America
Canada, Denmark, Ireland, Sweden, United Kingdom, United States of America
Canada, Denmark, United Kingdom, United States of America
Australia, United Arab Emirates, United States of America
Belgium, Ireland
Brazil, France
Poland, United States of America
Belgium, Ireland, United States of America
511

In [113]:
data['Production_Countries'].nunique()

510